@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply w-5 aspect-square;
  }
}

@layer components {
  .flex-item {
    @apply flex gap-2 items-center;
  }

  .btn-primary {
    @apply bg-lightCoffe rounded-full flex gap-2 items-center py-2 px-4 text-sm shrink-0;
  }

  .mobile-menu-width {
    width: min(80%, 300px);
  }

  .page-layout {
    display: grid;
    grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
  }

  .hamburger-display {
    @apply fixed right-3 top-[2.2rem] sm:top-[2.6rem];
  }
}
